body {
  margin: 0;
}
/*header*/
ul.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
Ul.topnav li {
  float: left;  
}
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .3s;
  font-size: 17px;
}
ul.topnav li a:hover {
  background-color: #555;
  }
  ul.topnav li.icon {
display: none;
  }
  @media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {float: right; display: inline-block;
    }
  }
  @media screen and (max-width:680px) {
    ul.topnav.responsive {
      position: relative;
    }
    ul.topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.topnav.responsive li {
      float: none;
      display: inline;
    }

    ul.topnav.responsive li a {
      display: block;
      text-align: left;
    }
  }
/*стили всплывающего окна */
#snackbar{
  visibility: hidden;
  min-width: 250px;
  margin-left: -250px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#snackbar.show{
  visibility: visible;
  -webkit-animation:fadein 0.5s, fadeout 0.5s 2.5s;
  animation:fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
  form{bottom: 0px; opacity: 0;}
  to{bottom: 30px; opacity: 1;}
}

@keyframes fadein{
  form{bottom: 0px; opacity: 0;}
  to{bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout{
  form{bottom: 30px; opacity: 1;}
  to{bottom: 0px; opacity: 0;}
}

@keyframes fadeout{
  form{bottom: 30px; opacity: 1;}
  to{bottom: 0px; opacity: 0;}
}

/*стилизация кнопки*/
.button {
  /* margin-left: 50%; */ /* подвинул на середину */
  /* margin-top: 50px; */ /* и чуток вниз */
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgba(40, 67, 189, 0.363); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
.button:hover { background: rgb(0, 0, 0); } /* при наведении курсора мышки */
.button:active { background: rgb(255, 0, 0) } /* при нажатии */

#img1 {
 display: block;
 margin: auto; 
 margin-top: 250px;
 width: 25%;
 height: auto;
}

.search {
  background: url(img/back_block.jpg) no-repeat center;
  background-size: cover;
  margin: 250px auto 0 auto;  
  text-align: center;
  height: 500px;
  width: 450px;
}
input[type="name_user"], input[type="tel"], input[type="email"], input[type="text"] {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.search {
padding: 13px 30px;
margin: 5px 0 20px 0;
font-size: 15px;
color: #fff;
}