@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
width: 100%;
height: 100%;
color: #ffffff;
background: #f7f7f7;
font-size: 1em;
font-family: "Segoe UI", sans-serif;
line-height: 135%;
}

a {
  color: #024C68;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  }

a:active {color: #00B64F}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  
}

/*selection block*/
::selection {background: #028E9B; color:#000000}
::-moz-selection {background: #028E9B; color:#000000}


header, footer {
  width: 100%;
  background color: #ffffff;
  min-height: 50px;

}


header {
  border-bottom: 2px solid silver;

}

footer {
  border-top: 2px solid silver;
  margin-top: 10px;
}
